<launch>

    <node name="image_preprocessing" pkg="preprocessing" type="image_preprocessing.py" output="screen" >
        <!-- <param name="example" type="string" value="value_example"/> -->
    </node>

    <node name="car_control" pkg="car_control" type="car_control.py">
      <param name="car_ID" type="string" value="AutoNOMOS_mini"/>
    </node>

    <node name="joystick_listener" pkg="joy" type="joy_node" >
    </node>
</launch>
